<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <ion-list>
    <ion-item *ngFor="let name of names">{{name}}</ion-item>
  </ion-list> -->
    <!-- SignIn Form -->
  <form #signinForm="ngForm" (ngSubmit)="checkUser(signinForm)"> 
    <ion-item>
      <ion-input placeholder="Username" type="text" name="username" ngModel></ion-input>
    </ion-item>    

    <ion-item>
      <ion-input placeholder="Password" type="password" name="password" ngModel></ion-input>
    </ion-item>

    <div padding>
        <button ion-button color="default" type="submit" round block>Login</button>  
    </div>
  </form>

  <div padding>
      <button ion-button color="danger" (click)="signUP();" round block>SignUp</button>  
    </div>

</ion-content>
