<!--
  Generated template for the SuccessPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>success</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>   
  <div padding>
    <button ion-button color="danger" (click)="logOut();" round block>Logout</button>  
  </div>
</ion-content>
