<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>signup</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form> 
        <ion-item>
          <ion-input placeholder="Username" type="text" name="username"  [(ngModel)]="info.username"></ion-input>
        </ion-item>    
  
        <ion-item>
          <ion-input placeholder="Email" type="email" name="email" [(ngModel)]="info.email"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-input placeholder="Password" type="password" name="password" [(ngModel)]="info.password"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-input placeholder="University" type="text" name="university" [(ngModel)]="info.university"></ion-input>
        </ion-item>    
      
        <div padding>
            <button ion-button color="default" type="submit" (click)="signUP();" round block>Sign Up</button>  
        </div>
      </form>
</ion-content>
